<ul class="aside">
         		
    <li>
        <h4>The articles management</h4>
        <ul>
            <li  class="list-group-item"> <a href="article/show" target="rightmain">Article list</a></li>         
            <li class="list-group-item"> <a href="article/add" target="rightmain">Add Article</a></li>                
        </ul>
    </li>
    <li>
        <h4>The comments management</h4> 
        <ul>
            <li  class="list-group-item"> <a href="comment/show" target="rightmain"> Comment list</a></li>
            <li class="list-group-item"> <a href="comment/add" target="rightmain">Add Comment</a></li>
        </ul>
    </li> 
    <li>  
        <h4>The querys management</h4> 
        <ul>
            <li  class="list-group-item"> <a href="find/allshow" target="rightmain">Article & comment list</a></li>
            <li class="list-group-item"> <a href="find/accuratelyfind" target="rightmain">Accuratelyfind</a></li>
        </ul>
    </li>
    
</ul>		