<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Operation successful!</title>
    <meta http-equiv="refresh" content="5;url=<%=redirectUrl%>">
    <link rel="stylesheet" href="/admin/bootstrap/css/bootstrap.css"> 
    <style>
        #jz{ margin:0 auto; width:320px; height:100px; border:1px }
        </style>
</head>

<body>
    <div id="jz" calss="container" style="margin-top: 100px;width: 800px;">
        <div class="alert alert-success">

            <h2><%=message%></h2>
        </br>
        <p>If you do not make any selection, you will jump to the first link address after 5 seconds.</p>
        </div>
    </div>

</body>

</html>  